# Distributed under the MIT License.
# See LICENSE.txt for details.

# Optional Python packages used for development, but not for running the code.
#
# Make sure that you are working in a Python venv. You can set one up like this
# in a directory of your choice:
#
#   $ python3 -m venv path/to/env
#   $ . path/to/env/bin/activate
#
# Then, install the Python dependencies into the environment like this:
#
#   $ pip3 install -r support/Python/dev_requirements.txt

# Building and postprocessing documentation
beautifulsoup4
coverxygen
nbconvert
pybtex
sphinx
furo
myst-parser
# Code formatting. The required version is locked in the pyproject.toml config.
black ~= 23.3
isort ~= 5.12
