# Distributed under the MIT License.
# See LICENSE.txt for details.

# Python packages needed to run the Python bindings.
#
# Make sure that you are working in a Python venv. You can set one up like this
# in a directory of your choice:
#
#   $ python3 -m venv path/to/env
#   $ . path/to/env/bin/activate
#
# Then, install the Python dependencies into the environment like this:
#
#   $ pip3 install -r support/Python/requirements.txt

# Click: to compose our Python CLI, load subcommands lazily, and for
# autocompletion
click
h5py >= 3.5.0
# Humanize: For human-readable output like "2 hours ago"
humanize
# - We constrain the Numpy version because v1.22+ segfaults in Pypp tests, see
#   issue: https://github.com/sxs-collaboration/spectre/issues/3844
numpy < 1.22.0
matplotlib
# Pandas: To work with columns of data
pandas
pyyaml
# Rich: to format CLI output and tracebacks
rich >= 10.11.0
scipy
